include src/abel/wrappers/elegant/templates/*.lte
include src/abel/wrappers/elegant/templates/*.ele
include src/abel/wrappers/guineapig/templates/*.dat
include src/abel/wrappers/hipace/*_template
include src/abel/abelconfig.toml
