name: Unix

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  unittest:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      name: Install Python
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        activate-environment: true

    - name: Install dependencies
      run: |
        uv pip install pytest setuptools[core] wheel

    - name: Install
      run: uv pip install -v .

    - name: Create config file
      run: python -m pytest -v tests/test_init.py::testCore_init || true

    - name: Run Unit Tests
      run: python -m pytest -s -v tests/test_StageReducedModels.py::test_stage_length_gradient_energyGain
